---
import ContainerChat from "./ContainerChat"
---

<div class="relative flex-1 min-h-screen flex items-center justify-center p-2 lg:p-4 lg:ml-0"> 
    <div class="w-full max-w-6xl">
        <ContainerChat client:visible/>
    </div>
</div>