---
import ContainerChat from "./ContainerChat.astro"
---

<div class="flex w-full h-screen bg-[#252527]">
    <img class="w-full h-[200px] object-cover" src="https://i.postimg.cc/6qgSfj7K/fondo-1.jpg" alt="Fondo de playa">
</div>

<ContainerChat/>