---
import SendIcon from "./Icons/SendIcon.astro";
---

<div class="w-[900px] h-[580px] bg-[#252527] rounded-xl border border-gray-500 relative mx-auto"> {/* mx-auto para centrado adicional */}
    {/* Área del chat */}
    <div class="h-[calc(100%-60px)] overflow-y-auto">
        {/* Mensajes aparecerán aquí */}
    </div>
    
    {/* Input */}
    <div class="absolute bottom-0 w-full p-4">
        <label class="flex relative">
            <input
                type="text"
                class="text-white w-full bg-gray-700 border-2 border-gray-400/90 py-2 px-3 rounded-lg pr-10"
                placeholder="Ask for anything"
            />
            <SendIcon class="text-gray-300/80 absolute right-3 top-1/2 transform -translate-y-1/2"/>
        </label>
    </div>
</div>