---
import Add from "./Icons/Add.astro";
import ContractIcon from "./Icons/ContractIcon.astro";
import ExpandIcon from "./Icons/ExpandIcon.astro";
import MessageIcon from "./Icons/MessageIcon.astro";
import EditIcon from "./Icons/EditIcon.astro";
import DeleteIcon from "./Icons/DeleteIcon.astro";
import BotIcon from "./Icons/BotIcon.astro";
import Historial from "./Historial.astro";
---

<aside
  class="w-72 relative bg-black/90 text-white h-screen left-0 top-0 p-4 z-[999]"
>
  <div class="flex w-full justify-between mx-1">
    <h2
      class="font-semibold mb-6 border-gray-700 pb-4 flex items-center gap-x-3.5 text-[16px]"
    >
      <BotIcon />
      simplechat.ai
    </h2>
    <ContractIcon />
  </div>

  <div>
    <button
      class="flex items-center gap-2 w-full px-4 border-1 border-gray-600 shadow-2xl py-2 rounded-lg hover:bg-gray-700 transition"
    >
      <Add class="text-gray-300/80" />
      <h2 class="font-bold text-gray-300/80">New chat</h2>
    </button>
  </div>

  <style>
    .chats:hover .iconsDeleteAndEdit {
      display: flex;
    }
  </style>

  <nav>
    <h3 class="text-sm uppercase text-gray-400 mb-2 mt-6">Conversations</h3>
    <ul class="gap-y-5 flex flex-col"> // TODO: Generate this but dynamic
      {Array.from({ length: 4 }).map((_, i) => (
        <Historial text="Just for do something" />
      ))}
    </ul>
  </nav>
</aside>
